In [16]:
# import pandas as pd
# import numpy as np

# # sample_row: "1234312\tMiddleburg\t$17.56"
# locations = ['Jacksonville', 'Ocala', 'Middleburg', 'San Diego', 'San Francisco', 'Clay County']


# def generate_row():
#     col1 = np.random.randint(1000000, 9999999)
#     col2 = np.random.choice(locations)
#     col3_dollars = np.random.randint(0, 500)
#     col3_cents = np.random.randint(0,99)
#     col3_price = f"${col3_dollars}.{col3_cents}0" 
    
#     row = f"{col1}\t{col2}\t{col3_price}\n"
#     return row
# generate_row()

'6006458\tSan Francisco\t$342.380\n'

In [18]:
# with open('sales.tsv', 'w') as f:
#     for i in range(100001):
#         row = generate_row()
#         f.write(row)

# Task: 

Read in each line from the file `sales.tsv`
Split each

In [1]:
!head sales.tsv

4659584	Middleburg	$345.600
5309510	Middleburg	$23.220
3426976	Middleburg	$282.470
6530680	San Diego	$434.510
4754336	Clay County	$497.490
2932455	Middleburg	$4.350
9479088	Jacksonville	$168.980
2492308	Jacksonville	$267.350
4140600	Jacksonville	$254.250
4391183	Clay County	$32.780