In [16]:
# import pandas as pd
# import numpy as np

# # sample_row: "1234312\tMiddleburg\t$17.56"
# locations = ['Jacksonville', 'Ocala', 'Middleburg', 'San Diego', 'San Francisco', 'Clay County']


# def generate_row():
#     col1 = np.random.randint(1000000, 9999999)
#     col2 = np.random.choice(locations)
#     col3_dollars = np.random.randint(0, 500)
#     col3_cents = np.random.randint(0,99)
#     col3_price = f"${col3_dollars}.{col3_cents}0" 
    
#     row = f"{col1}\t{col2}\t{col3_price}\n"
#     return row
# generate_row()

'6006458\tSan Francisco\t$342.380\n'

In [18]:
# with open('sales.tsv', 'w') as f:
#     for i in range(100001):
#         row = generate_row()
#         f.write(row)

# Task: Get total sales for each area

Read in each line from the file `sales.tsv`
seperate by area
create running total column by area
cast sales amount to float
add sales amount to total by area
print out for each area

In [35]:
!head sales.tsv

4659584	Middleburg	$345.600
5309510	Middleburg	$23.220
3426976	Middleburg	$282.470
6530680	San Diego	$434.510
4754336	Clay County	$497.490
2932455	Middleburg	$4.350
9479088	Jacksonville	$168.980
2492308	Jacksonville	$267.350
4140600	Jacksonville	$254.250
4391183	Clay County	$32.780

In [37]:
with open('sales.tsv', 'r') as f:
    data = f.readlines()

print (data[0:10])

['4659584\tMiddleburg\t$345.600\n', '5309510\tMiddleburg\t$23.220\n', '3426976\tMiddleburg\t$282.470\n', '6530680\tSan Diego\t$434.510\n', '4754336\tClay County\t$497.490\n', '2932455\tMiddleburg\t$4.350\n', '9479088\tJacksonville\t$168.980\n', '2492308\tJacksonville\t$267.350\n', '4140600\tJacksonville\t$254.250\n', '4391183\tClay County\t$32.780\n']

In [38]:
testRow = data[0]

In [40]:
testRow.split("\t")[1]

'Middleburg'

In [41]:
row = testRow.split("\t")

In [47]:
location = row[1]
sales = row[2]
cleanSales = sales.replace("\n", "").replace("$", "")
salesF = float(cleanSales)

In [54]:
print (salesF)

345.6

In [24]:
def foo(name): 
    n = "Hello, " + name.lower().capitalize()  
    
    
    print (n)

In [26]:
foo("DERRicK")

Hello, Derrick

In [29]:
testcase1 = "DERRicK"
testcase2 = "DERRICK"
testcase3 = "derrick"

In [30]:
foo(testcase1)
foo(testcase2)
foo(testcase3)

Hello, Derrick
Hello, Derrick
Hello, Derrick

In [21]:
i = "derrick".upper()
print (i)

DERRICK

In [22]:
i.lower()

'derrick'

In [23]:
i

'DERRICK'

In [19]:
"DERRICK".lower().capitalize()

'Derrick'

In [ ]:
`

In [15]:
foo("derrick")

Hello, derrick

In [7]:
foo

In [8]:
bar

NameError: name 'bar' is not defined